In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Inferential Statistics - Powai Flats Rent.csv')

In [3]:
df.shape

(200, 2)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S. No.        200 non-null    int64
 1   Monthly Rent  200 non-null    int64
dtypes: int64(2)
memory usage: 3.3 KB

In [5]:
df.describe()

           S. No.  Monthly Rent
count  200.000000    200.000000
mean   100.500000  45571.000000
std     57.879185   7457.521851
min      1.000000  30100.000000
25%     50.750000  41250.000000
50%    100.500000  44950.000000
75%    150.250000  49825.000000
max    200.000000  59800.000000

In [6]:
df['Monthly Rent'].mean()

np.float64(45571.0)

In [7]:
df['Monthly Rent'].std(ddof=1)

np.float64(7457.521851178448)